
<div class="row">
	<div class="form-group">
		<label for="firstName" class="col-sm-3 control-label">
			<f:translate key="tx_gtncarpooling_domain_model_trip.first_name" /><f:render partial="requiredMarker" arguments="{field:requiredFields.firstName}" />
		</label>
		<div class="col-sm-5">
			<f:form.textfield id="firstName" property="firstName" class="form-control" value="{trip.firstName}"/>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group">
		<label for="lastName" class="col-sm-3 control-label">
			<f:translate key="tx_gtncarpooling_domain_model_trip.last_name" /><f:render partial="requiredMarker" arguments="{field:requiredFields.lastName}" />
		</label>
		<div class="col-sm-5">
			<f:form.textfield id="lastName" property="lastName" class="form-control" value="{trip.lastName}"/>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group">
		<label for="email" class="col-sm-3 control-label">
			<f:translate key="tx_gtncarpooling_domain_model_trip.email" /><f:render partial="requiredMarker" arguments="{field:requiredFields.email}" />
		</label>
		<div class="col-sm-5">
			<f:form.textfield id="email" property="email" class="form-control" value="{trip.email}"/>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group">
		<label for="phone" class="col-sm-3 control-label">
			<f:translate key="tx_gtncarpooling_domain_model_trip.phone" /><f:render partial="requiredMarker" arguments="{field:requiredFields.phone}" />
		</label>
		<div class="col-sm-5">
			<f:form.textfield id="phone" property="phone" class="form-control" value="{trip.phone}"/>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group">
		<label for="tripDate" class="col-sm-3 control-label">
			<f:translate key="tx_gtncarpooling_domain_model_trip.trip_date" /><f:render partial="requiredMarker" arguments="{field:requiredFields.tripDate}" />
		</label>

		<div class="col-sm-5">
			<div class="input-group date">
				<f:form.textfield id="tripDate" property="tripDate" class="form-control dateTimePicker"/>
				<div class="input-group-addon">
					<span class="glyphicons glyphicons-calendar open-datepicker"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group">
		<label for="cityStart" class="col-sm-3 control-label">
			<f:translate key="tx_gtncarpooling_domain_model_trip.city_start" /><f:render partial="requiredMarker" arguments="{field:requiredFields.cityStart}" />
		</label>
		<div class="col-sm-5">
			<f:form.textfield id="cityStart" property="cityStart" class="form-control" value="{trip.cityStart}"/>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group">
		<label for="zipStart" class="col-sm-3 control-label">
			<f:translate key="tx_gtncarpooling_domain_model_trip.zip_start" /><f:render partial="requiredMarker" arguments="{field:requiredFields.zipName}" />
		</label>
		<div class="col-sm-5">
			<f:form.textfield id="zipStart" property="zipStart" class="form-control" value="{trip.zipStart}"/>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group">
		<label for="cityDestination" class="col-sm-3 control-label">
			<f:translate key="tx_gtncarpooling_domain_model_trip.city_destination" /><f:render partial="requiredMarker" arguments="{field:requiredFields.cityDestination}" />
		</label>
		<div class="col-sm-5">
			<f:form.textfield id="cityDestination" property="cityDestination" class="form-control" value="{trip.cityDestination}"/>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group">
		<label for="zipDestination" class="col-sm-3 control-label">
			<f:translate key="tx_gtncarpooling_domain_model_trip.zip_destination" /><f:render partial="requiredMarker" arguments="{field:requiredFields.zipDestination}" />
		</label>
		<div class="col-sm-5">
			<f:form.textfield id="zipDestination" property="zipDestination" class="form-control" value="{trip.zipDestination}"/>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group">
		<label for="description" class="col-sm-3 control-label">
			<f:translate key="tx_gtncarpooling_domain_model_trip.description" /><f:render partial="requiredMarker" arguments="{field:requiredFields.description}" />
		</label>
		<div class="col-sm-5">
			<f:form.textarea id="description" property="description" class="form-control" value="{trip.description}"/>
			<p class="text-muted" style="margin-bottom: 0px;"><small><f:translate key="tx_gtncarpooling.is_required" /></small></p>
		</div>
	</div>
</div>

