<div class="trip_detail" xmlns:f="http://www.w3.org/1999/html">

	<div class="row">
		<div class="col-sm-12">
			<h1><f:translate key="tx_gtncarpooling.trip_detail_label" /></h1>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-2 align-right">
			<f:translate key="tx_gtncarpooling_domain_model_trip.trip_date" />:
		</div>
		<div class="col-sm-5">
			{trip.tripDate -> f:format.date(format:'d.m.Y H:i')}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2 align-right">
			<f:translate key="tx_gtncarpooling_domain_model_trip.city_start" />:
		</div>
		<div class="col-sm-5">
			{trip.cityStart} <f:if condition="{trip.zipStart}">({trip.zipStart})</f:if>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2 align-right">
			<f:translate key="tx_gtncarpooling_domain_model_trip.city_destination" />:
		</div>
		<div class="col-sm-5">
			{trip.cityDestination} <f:if condition="{trip.zipDestination}">({trip.zipDestination})</f:if>
		</div>
	</div>
	<f:if condition="{trip.description}">
		<div class="row">
			<div class="col-sm-2 align-right">
				<f:translate key="tx_gtncarpooling_domain_model_trip.description" />:
			</div>
			<div class="col-sm-5">
				{trip.description -> f:format.nl2br()}
			</div>
		</div>
	</f:if>

	<div class="row">
		<div class="col-sm-12">
			<h1><f:translate key="tx_gtncarpooling.trip_contactdata_label" /></h1>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-2 align-right">
			<f:translate key="tx_gtncarpooling_domain_model_trip.person" />:
		</div>
		<div class="col-sm-5">
			{trip.firstName} {trip.lastName}
		</div>
	</div>
	<f:comment>
		<div class="row">
			<div class="col-sm-2 align-right">
				<f:translate key="tx_gtncarpooling_domain_model_trip.email" />:
			</div>
			<div class="col-sm-5">
				{trip.email}
			</div>
		</div>
	</f:comment>
	<f:if condition="{trip.phone}">
		<div class="row">
			<div class="col-sm-2 align-right">
				<f:translate key="tx_gtncarpooling_domain_model_trip.phone" />:
			</div>
			<div class="col-sm-5">
				{trip.phone}
			</div>
		</div>
	</f:if>

</div>
