
<f:layout name="Default" />

<f:section name="main">

  <f:comment>
    <div class="hidden"><f:flashMessages /></div>
  </f:comment>

  <br />
  <div id="newTripHeader" class="alert alert-success">
    <f:translate key="tx_gtncarpooling.tripCreatedMessage" />
  </div>

  <div class="alert alert-info">
    <f:if condition="{sendActivationEmail}">
      <f:then>
        <f:translate key="tx_gtncarpooling.tripCreatedNotesWithEmailActivation" />
      </f:then>
      <f:else>
        <f:translate key="tx_gtncarpooling.tripCreatedNotes" />
      </f:else>
    </f:if>
  </div>

  <f:comment>
        <f:if condition="{trip}">
          <f:render partial="Trip/Properties" arguments="{trip:trip}" />
        </f:if>

        <div class="row">
          <div class="col-sm-6">
            <f:link.action action="list" pageUid="{settings.listPid}"><f:translate key="tx_gtncarpooling.goToTripList" /></f:link.action>
          </div>
        </div>
  </f:comment>
</f:section>