

<div class="tx-gtn-carpooling">
    <f:if condition="{confirmDelete}">
          <f:then>
              <div class="alert alert-success">
                <f:translate key="tx_gtncarpooling.tripIsDeleted" />
              </div>
              <f:link.action action="list" pageUid="{settings.listPid}"><f:translate key="tx_gtncarpooling.goToTripList" /></f:link.action>
          </f:then>
          <f:else>
              <f:translate key="tx_gtncarpooling.confirmDeleteMessage" /><br />
              <f:link.page addQueryString="true" argumentsToBeExcludedFromQueryString="{id:1}"  additionalParams="{confirmDelete:'1'}" class="btn btn-default" ><f:translate key="tx_gtncarpooling.delete" /></f:link.page>
              <f:render partial="Trip/Properties" arguments="{trip:trip}" />
          </f:else>
    </f:if>
</div>