
<f:layout name="Default" />

<f:section name="main">

	<h1><f:translate key="tx_gtncarpooling.trip_list_title" /></h1>
<div class="trip_list">

<table class="bifeb-table" width="100%">
	<tr>
		<th>
			<f:translate key="tx_gtncarpooling_domain_model_trip.trip_date" />
		</th>
		<th>
			<f:translate key="tx_gtncarpooling_domain_model_trip.city_start" />
		</th>
		<th>
			<f:translate key="tx_gtncarpooling_domain_model_trip.city_destination" />
		</th>
		<th>

		</th>
		<th>
			<f:translate key="tx_gtncarpooling_domain_model_trip.details" />
		</th>
	</tr>
	<f:for each="{trips}" as="trip">
		<f:render partial="Trip/ListItem" arguments="{trip:trip}" />
	</f:for>
</table>

</div>
	<f:comment>
				<div class="row">
					<div class="col-sm-3">
						<br />
						<f:link.action pageUid="{settings.createTripPid}" action="new" class="btn btn-default"><f:translate key="tx_gtncarpooling.createTripLink" /></f:link.action>
					</div>
				</div>
	</f:comment>

<f:if condition="{settings.createTripPid} && {settings.searchPid}">
	<f:link.action pageUid="{settings.createTripPid}" action="new">
	  <button class="btn btn-primary create-button-margin">Neue Fahrt erstellen</button>
	</f:link.action>

	<f:link.action pageUid="{settings.searchPid}" action="search">
	  <button class="btn btn-primary create-button-margin">Mitfahrgelegenheit suchen</button>
	</f:link.action>
</f:if>


</f:section>


<f:comment>



	<div class="row">
		<div class="col-sm-3">
			<strong><f:translate key="tx_gtncarpooling_domain_model_trip.trip_date" /></strong>
		</div>
		<div class="col-sm-3">
			<strong><f:translate key="tx_gtncarpooling_domain_model_trip.city_start" /></strong>
		</div>
		<div class="col-sm-3">
			<strong><f:translate key="tx_gtncarpooling_domain_model_trip.city_destination" /></strong>
		</div>
		<div class="col-sm-3">

		</div>
	</div>



</f:comment>
