

.tx-gtn-carpooling .trip_list .row:nth-child(even){
    background-color: #F1F1F1;
}
.tx-gtn-carpooling .trip_list .row:nth-child(odd){
    background-color: #ffffff;
}

/* trip detail */
.tx-gtn-carpooling .trip_detail h1, .tx-gtn-carpooling .contact-form h1 {
    border-bottom: 1px solid #adadad;
    color: #00557c;
    font-size: 25px;
    margin-bottom: 28px;
    padding-bottom: 7px;
}

.tx-gtn-carpooling .f3-form-error {
    background-color: #ff9f9f;
    border: 1px solid #ff0000;
}

.create-button-margin {
  margin-top: 15px;
}
